= render partial: 'shared/header_message', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.completed
        = link_to 'Personal details', action: 'edit', id: @claim.id, page_id: 'personal_details'
      %li.active
        %span Case details
      %li
        %span Confirm details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2= @page_title
  %p Give details of the tenancy and why you’re taking court action.

= form_for @claim do |claim_form|
  = claim_form.fields_for @claim.case_details do |f|
    %section.about-tenancy
      %h3.section-header About the tenancy
      .moj-panel.sub-panel
        %fieldset.striped-choice
          %legend Tenancy type
          .options
            .row
              %input#tenancytype-secure(type='radio' name='tenancytype' checked='checked')
              %label(for='tenancytype-secure') Secure tenancy
            .row
              %input#tenancytype-introductory(type='radio' name='tenancytype')
              %label(for='tenancytype-introductory') Introductory tenancy
        %fieldset.date-picker
          %legend Tenancy start date
          .row
            = f.date_select :notice_served_date, prompt: { day: 'day', month: 'month', year: 'year' }, order: [:day, :month, :year], with_css_classes: true, start_year: Time.now.year, end_year: Time.now.year - 87
        .row
          %label(for='rent-amount') Rent amount
          %input#rent-amount.pound(type='text' name='rent-amount')
          %select#rent-amount-frequency.small
            %option(value='weekly') per week
            %option(value='monthly') per month
        .row
          %label(for='daily-rent-amount') Daily rent amount
          %input#daily-rent-amount.pound(type='text' name='daily-rent-amount')

    %section.about-case
      %h3.section-header About the case
      .moj-panel
        %fieldset.striped-choice
          %legend Notice served
          .options
            .row
              %input#noticeserved-possession(type='radio' name='noticeserved')
              %label(for='noticeserved-possession') Notice seeking possession
            .row
              %input#noticeserved-proceedings(type='radio' name='noticeserved')
              %label(for='noticeserved-proceedings') Notice of possession proceedings
        %fieldset.date-picker
          %legend Date notice served
          .row
            = f.date_select :notice_served_date, prompt: { day: 'day', month: 'month', year: 'year' }, order: [:day, :month, :year], with_css_classes: true, start_year: Time.now.year, end_year: Time.now.year - 22
        .row
          %label(for='total-unpaid-rent') Total unpaid rent
          %input#total-unpaid-rent.pound(type='text' name='total-unpaid-rent')

    %section.further-information
      %h3.section-header Further information
      .moj-panel.sub-panel
        .row.full
          %label(for='further-info') Please give any other information that may be useful for the court.
          %textarea#further-info(name='further-info')
        .row.rel.full
          %input#human-rights(type='checkbox' name='human-rights')
          %label(for='human-rights') The case includes issues under the Human Rights Act 1998

    %section
      .action-buttons.cf
        %button.button.primary.large.chevron.left{name: 'next_page', value: 'check_details'} Continue to next step

