= render partial: 'shared/header_message', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.completed
        = link_to 'Personal details', action: 'edit', id: @claim.id, page_id: 'personal_details'
      %li.completed
        = link_to 'Case details', action: 'edit', id: @claim.id, page_id: 'case_details'
      %li.active
        %span Confirm details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2= @page_title
  %p Check through the information you have given to ensure it’s all correct.

%section.review
  %h3.section-header
    Property
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'personal_details', anchor: "property"}, class: "right"
  .moj-panel
    .row
      .key
        Address
      .value
        = @claim.property.address.html_safe

%section.review
  %h3.section-header
    Council (claimant)
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'personal_details', anchor: "council"}, class: "right"
    - landlord = @claim.landlords.first
  .moj-panel
    .row
      .key
        Council
      .value
        = landlord.organisation_name
    .row
      .key
        Address
      .value
        = landlord.address.html_safe
    .row
      .key
        Full name
      .value
        = landlord.display_name
    .row
      .key
        Phone
      .value
        = landlord.phone
    .row
      .key
        Email
      .value
        = landlord.email

%section.review
  %h3.section-header
    Tenant (defendant)
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'personal_details', anchor: "tenant"}, class: "right"
  - @claim.tenants.each.with_index do |tenant, i|
    - unless tenant.blank?
      .moj-panel
        .row
          .key
            Name
          .value
            = tenant.display_name
        .row
          .key
            Address
          .value
            - if tenant.address.blank?
              Living in the property
            - else
              = tenant.address.html_safe
        - unless tenant.phone.blank?
          .row
            .key
              Phone
            .value
              = tenant.phone
        - unless tenant.email.blank?
          .row
            .key
              Email
            .value
              = tenant.email

%section.review
  %h3.section-header
    About the tenancy
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'case_details', anchor: "about-the-tenancy"}, class: "right"
  .moj-panel
    .row
      .key Tenancy type
      .value= @claim.case_detail.tenancy_type.humanize
    .row
      .key Tenancy start date
      .value= Date.parse(@claim.case_detail.tenancy_start_date).strftime("%e %B %Y")
    .row
      .key Rent amount
      .value
        %span> &pound;
        %span.number= number_to_currency(@claim.case_detail.rental_amount, unit: '').gsub(/\.00$/, '')
        = case @claim.case_detail.payment_frequency
          - when "weekly" then "per week"
          - when "monthly" then "per month"
    .row
      .key
        Daily rent amount
      .value
        %span> &pound;
        %span.number= number_to_currency(@claim.case_detail.daily_rent_amount, unit: '').gsub(/\.00$/, '')
        per day

%section.review
  %h3.section-header
    About the case
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'case_details', anchor: "about-the-case"}, class: "right"
  .moj-panel
    .row
      .key
        Notice served
      .value
        = @claim.case_detail.type_of_notice_served.humanize
    .row
      .key
        Date notice served
      .value
        = Date.parse(@claim.case_detail.notice_served_date).strftime("%e %B %Y")
    .row
      .key
        Total unpaid rent
      .value
        %span> &pound;
        %span.number= number_to_currency(@claim.case_detail.total_unpaid_rent, unit: '').gsub(/\.00$/, '')

%section.review
  %h3.section-header
    Further information
    = link_to 'Make changes', {action: 'edit', id: @claim.id, page_id: 'case_details', anchor: "further-information"}, class: "right"
  .moj-panel
    .row.full
      .value.highlight
        = @claim.case_detail.other_information

= form_for @claim do |claim_form|
  %section
    %h3.section-header
      Statement of truth
    .moj-panel
      %form
        .row.full
          = claim_form.check_box :statement_of_truth, id: "confirm-details"
          - label = "I <strong>#{@claim.landlords.first.full_name}</strong>, <strong>-=TODO: JOB TITLE=-</strong> at <strong>#{@claim.landlords.first.organisation_name}</strong>, believe the facts stated on this form are true."
          = claim_form.label :statement_of_truth, label.html_safe
            
        .row.rel.full.warning
          Proceedings for contempt of court may be brought against a person if he makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.

    %section
      .action-buttons.cf
        %button.button.primary.large.chevron.left{name: 'next_page', value: 'check_details'} Continue to next step

