= render partial: 'shared/header_message', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2= @page_title
  %p Fill in contact details for the tenant or tenants and confirm your details.

= form_for @claim do |claim_form|
  %section.property-details
    %h3.section-header Property
    .moj-panel.sub-panel
      = claim_form.fields_for @claim.property do |f|
        .row.rel.street
          = f.label :street
          = f.text_area :street
        .row.rel.town
          = f.label :town
          = f.text_field :town
        .row.rel.postcode
          = f.label :postcode
          = f.text_field :postcode, class: 'smalltext'

  %section.review
    %h3.section-header
      Council (claimant)
      %a.right(href='#') Make changes
    .moj-panel
      - landlord = @claim.landlords.first
      .row
        .key Council
        .value= landlord.organisation_name
      .row
        .key Address
        .value= landlord.address
      .row
        .key Full name
        .value= landlord.full_name
      .row
        .key Phone
        .value= landlord.phone
      .row
        .key Email
        .value= landlord.email


  %section.tenant-details
    %h3.section-header Tenant (defendant)
    .moj-panel
      - 4.times do |i|
        = claim_form.fields_for(@claim.tenants[i], include_id: false) do |f|
          - if i >= 1
            .row.divider
          .sub-panel.tenant-form.tenant(id="tenant-#{i}")
            - id = @claim.tenants[i].id || ''
            - prefix = "[claim]tenants[]"
            %h4= "Tenant #{i = i + 1}"
            .row
              = f.label :title
              = f.text_field :title, class: 'smalltext', name: "#{prefix}[title]"
            .row.rel
              = f.label :full_name
              = f.text_field :full_name, name: "#{prefix}[full_name]"
            .row.rel
              = f.label :mobile
              = f.text_field :mobile, name: "#{prefix}[mobile]"
            .row.rel
              = f.label :email
              = f.text_field :email, name: "#{prefix}[email]"
            .row.full
              If the tenants are living somewhere else, please give the address below.
            .row.street
              = f.label :street
              = f.text_area :street, name: "#{prefix}[street]"
            .row.rel.town
              = f.label :town
              = f.text_field :town, name: "#{prefix}[town]"
            .row.rel.postcode
              = f.label :postcode
              = f.text_field :postcode, class: 'smalltext', name: "#{prefix}[postcode]"
            = f.hidden_field :id, name: "#{prefix}[id]"
  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left{name: 'next_page', value: 'case_details'} Continue to next step
