= render partial: 'shared/header_message', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2= @page_title
  %p Fill in contact details for the tenant or tenants and confirm your details.

= form_for @claim do |claim_form|
  %section.property-details
    %h3.section-header Property
    .moj-panel.sub-panel
      = claim_form.fields_for @claim.property do |f|
        .row.rel.street
          = f.label :street
          = f.text_area :street
        .row.rel.town
          = f.label :town
          = f.text_field :town
        .row.rel.postcode
          = f.label :postcode
          = f.text_field :postcode, class: 'smalltext'

  %section.review
    %h3.section-header
      Council (claimant)
      %a.right(href='#') Make changes
    .moj-panel
      .row
        .key
          Council
        .value
          Bristol City Council
      .row
        .key
          Address
        .value
          City Hall
          %br/
          College Green
          %br/
          Bristol
          %br/
          BS1 5TR
      .row
        .key
          Full name
        .value
          Ms Julia Richards
      .row
        .key
          Phone
        .value
          0115 915 5555
      .row
        .key
          Email
        .value
          julia.richards@bristol.gov.uk

  %section.tenant-details
    %h3.section-header
      Tenant (defendant)
    .moj-panel
      - i = 0
      = claim_form.fields_for(@claim.tenants, include_id: false) do |f|
        .sub-panel.tenant-form.tenant(id="tenant-#{i}")
          %h4
            = "Tenant #{i = i + 1}"
          .row
            = f.label :title
            = f.text_field :title, class: 'smalltext', name: '[claim]tenants[][title]'
          .row.rel
            = f.label :full_name
            = f.text_field :full_name, name: '[claim]tenants[][full_name]'
          .row.rel
            = f.label :mobile
            = f.text_field :mobile, name: '[claim]tenants[][mobile]'
          .row.rel
            = f.label :email
            = f.text_field :email, name: '[claim]tenants[][email]'
          .row.full
            If the tenants are living somewhere else, please give the address below.
          .row.street
            = f.label :street
            = f.text_area :street, name: '[claim]tenants[][street]'
          .row.rel.town
            = f.label :town
            = f.text_field :town, name: '[claim]tenants[][town]'
          .row.rel.postcode
            = f.label :postcode
            = f.text_field :postcode, class: 'smalltext', name: '[claim]tenants[][postcode]'
          = f.hidden_field :id
  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left{name: 'next_page', value: 'case_details'} Continue to next step
      %a.button.secondary.large.right Save and come back later
