.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Confirm details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 1 - Personal details
  %p Fill in the address of the property you want to repossess and contact details for the landlords and tenants.

= form_for @property, :url => '/step1', :method => :get do |f|
  %section.property-details
    %h3.section-header Property details
    .moj-panel.sub-panel
      .row.rel.street
        %label(for='agent-address')> Street
        = f.text_area :street, id: 'agent-address'
      .row.rel.town
        %label(for='agent-town')> Town
        = f.text_field :town, id: 'agent-town'
      .row.rel.postcode
        %label(for='agent-postcode')> Postcode
        = f.text_field :postcode, id: 'agent-postcode', class: 'smalltext'
      %fieldset.striped-choice
        %legend Type of property
        .options
          .row
            %input#property-residential(type='checkbox')
            %label(for='property-residential') Residential
          .row
            %input#property-commercial(type='checkbox')
            %label(for='property-commercial') Commercial
      %fieldset.striped-choice
        %legend Who is in the property?
        .options
          .row
            %input#property-who-tenants(type='radio' name='property-who')
            %label(for='property-who-tenants') Tenants
          .row
            %input#property-who-squatters(type='radio' name='property-who')
            %label(for='property-who-squatters') Squatters
      .row
        %label(for='title-number') Title number
        = f.text_field :land_registry_title_number, id: 'title-number', class: 'smalltext'
      .row.rel.help-link
        %a(href='#') About title numbers

  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left(href='/step1') Continue to next step
      %a.button.secondary.large.right(href='/step1') Save and come back later

  %section.landlord-details
    %h3.section-header Landlord details
    .moj-panel
      .row
        %label(for='landlord-companyname')> Company name
        %input(type='text' name='landlord-companyname' id='landlord-companyname')
      .row.rel.street
        %label(for='landlord-address')> Street
        %textarea(name='landlord-address' id='landlord-address')
      .row.rel.town
        %label(for='landlord-town')> Town
        %input(type='text' name='landlord-town' id='landlord-town')
      .row.rel.postcode
        %label(for='landlord-postcode')> Postcode
        %input.smalltext(type='text' name='landlord-postcode' id='landlord-postcode')>
      .row
        %label(for='landlord-title')> Title
        %input.smalltext(type='text' name='landlord-title' id='landlord-title')
      .row.rel
        %label(for='landlord-name')> Full name
        %input(type='text' name='landlord-name' id='landlord-name')
      .row.rel
        %label(for='landlord-phone')> Phone
        %input(type='text' name='landlord-phone' id='landlord-phone')
      .row.rel
        %label(for='landlord-mobile')> Mobile
        %input(type='text' name='landlord-mobile' id='landlord-mobile')
      .row.rel
        %label(for='landlord-email')> Email
        %input(type='text' name='landlord-email' id='landlord-email')
      .row
        %label(for='landlord-dxnumber')> DX number
        %input(type='text' name='landlord-dxnumber' id='landlord-dxnumber')
      .row.rel
        %label(for='landlord-dxexchange')> DX exchange
        %input(type='text' name='landlord-dxexchange' id='landlord-dxexchange')

  %section.agent-details
    %h3.section-header Managing agent
    .moj-panel
      .row
        %label(for='agent-companyname')> Company name
        %input(type='text' name='agent-companyname' id='agent-companyname')
      .row.rel.street
        %label(for='agent-address')> Street
        %textarea(name='agent-address' id='agent-address')
      .row.rel.town
        %label(for='agent-town')> Town
        %input(type='text' name='agent-town' id='agent-town')
      .row.rel.postcode
        %label(for='agent-postcode')> Postcode
        %input.smalltext(type='text' name='agent-postcode' id='agent-postcode')>
      .row
        %label(for='agent-title')> Title
        %input.smalltext(type='text' name='agent-title' id='agent-title')
      .row.rel
        %label(for='agent-name')> Full name
        %input(type='text' name='agent-name' id='agent-name')
      .row.rel
        %label(for='agent-phone')> Phone
        %input(type='text' name='agent-phone' id='agent-phone')
      .row.rel
        %label(for='agent-mobile')> Mobile
        %input(type='text' name='agent-mobile' id='agent-mobile')
      .row.rel
        %label(for='agent-email')> Email
        %input(type='text' name='agent-email' id='agent-email')
      .row
        %label(for='agent-dxnumber')> DX number
        %input(type='text' name='agent-dxnumber' id='agent-dxnumber')
      .row.rel
        %label(for='agent-dxexchange')> DX exchange
        %input(type='text' name='agent-dxexchange' id='agent-dxexchange')

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 1
    .moj-panel
      .tenant#tenant1
        .row
          %label(for='tenant1-title')> Title
          %input.smalltext(type='text' name='tenant1-title' id='tenant1-title')
        .row.rel
          %label(for='tenant1-name')> Full name
          %input(type='text' name='tenant1-name' id='tenant1-name')
        .row.rel
          %label(for='tenant1-phone')> Phone
          %input(type='text' name='tenant1-phone' id='tenant1-phone')
        .row.rel
          %label(for='tenant1-mobile')> Mobile
          %input(type='text' name='tenant1-mobile' id='tenant1-mobile')
        .row.rel
          %label(for='tenant1-email')> Email
          %input(type='text' name='tenant1-email' id='tenant1-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant1-address')> Street
          %textarea(name='tenant1-address' id='tenant1-address')
        .row.rel.town
          %label(for='tenant1-town')> Town
          %input(type='text' name='tenant1-town' id='tenant1-town')
        .row.rel.postcode
          %label(for='tenant1-postcode')> Postcode
          %input.smalltext(type='text' name='tenant1-postcode' id='tenant1-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 2
    .moj-panel
      .tenant#tenant2
        .row
          %label(for='tenant2-title')> Title
          %input.smalltext(type='text' name='tenant2-title' id='tenant2-title')
        .row.rel
          %label(for='tenant2-name')> Full name
          %input(type='text' name='tenant2-name' id='tenant2-name')
        .row.rel
          %label(for='tenant2-phone')> Phone
          %input(type='text' name='tenant2-phone' id='tenant2-phone')
        .row.rel
          %label(for='tenant2-mobile')> Mobile
          %input(type='text' name='tenant2-mobile' id='tenant2-mobile')
        .row.rel
          %label(for='tenant2-email')> Email
          %input(type='text' name='tenant2-email' id='tenant2-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant2-address')> Street
          %textarea(name='tenant2-address' id='tenant2-address')
        .row.rel.town
          %label(for='tenant2-town')> Town
          %input(type='text' name='tenant2-town' id='tenant2-town')
        .row.rel.postcode
          %label(for='tenant2-postcode')> Postcode
          %input.smalltext(type='text' name='tenant2-postcode' id='tenant2-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 3
    .moj-panel
      .tenant#tenant3
        .row
          %label(for='tenant3-title')> Title
          %input.smalltext(type='text' name='tenant3-title' id='tenant3-title')
        .row.rel
          %label(for='tenant3-name')> Full name
          %input(type='text' name='tenant3-name' id='tenant3-name')
        .row.rel
          %label(for='tenant3-phone')> Phone
          %input(type='text' name='tenant3-phone' id='tenant3-phone')
        .row.rel
          %label(for='tenant3-mobile')> Mobile
          %input(type='text' name='tenant3-mobile' id='tenant3-mobile')
        .row.rel
          %label(for='tenant3-email')> Email
          %input(type='text' name='tenant3-email' id='tenant3-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant3-address')> Street
          %textarea(name='tenant3-address' id='tenant3-address')
        .row.rel.town
          %label(for='tenant3-town')> Town
          %input(type='text' name='tenant3-town' id='tenant3-town')
        .row.rel.postcode
          %label(for='tenant3-postcode')> Postcode
          %input.smalltext(type='text' name='tenant3-postcode' id='tenant3-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 4
    .moj-panel
      .tenant#tenant4
        .row
          %label(for='tenant4-title')> Title
          %input.smalltext(type='text' name='tenant4-title' id='tenant4-title')
        .row.rel
          %label(for='tenant4-name')> Full name
          %input(type='text' name='tenant4-name' id='tenant4-name')
        .row.rel
          %label(for='tenant4-phone')> Phone
          %input(type='text' name='tenant4-phone' id='tenant4-phone')
        .row.rel
          %label(for='tenant4-mobile')> Mobile
          %input(type='text' name='tenant4-mobile' id='tenant4-mobile')
        .row.rel
          %label(for='tenant4-email')> Email
          %input(type='text' name='tenant4-email' id='tenant4-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant4-address')> Street
          %textarea(name='tenant4-address' id='tenant4-address')
        .row.rel.town
          %label(for='tenant4-town')> Town
          %input(type='text' name='tenant4-town' id='tenant4-town')
        .row.rel.postcode
          %label(for='tenant4-postcode')> Postcode
          %input.smalltext(type='text' name='tenant4-postcode' id='tenant4-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 5
    .moj-panel
      .tenant#tenant5
        .row
          %label(for='tenant5-title')> Title
          %input.smalltext(type='text' name='tenant5-title' id='tenant5-title')
        .row.rel
          %label(for='tenant5-name')> Full name
          %input(type='text' name='tenant5-name' id='tenant5-name')
        .row.rel
          %label(for='tenant5-phone')> Phone
          %input(type='text' name='tenant5-phone' id='tenant5-phone')
        .row.rel
          %label(for='tenant5-mobile')> Mobile
          %input(type='text' name='tenant5-mobile' id='tenant5-mobile')
        .row.rel
          %label(for='tenant5-email')> Email
          %input(type='text' name='tenant5-email' id='tenant5-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant5-address')> Street
          %textarea(name='tenant5-address' id='tenant5-address')
        .row.rel.town
          %label(for='tenant5-town')> Town
          %input(type='text' name='tenant5-town' id='tenant5-town')
        .row.rel.postcode
          %label(for='tenant5-postcode')> Postcode
          %input.smalltext(type='text' name='tenant5-postcode' id='tenant5-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 6
    .moj-panel
      .tenant#tenant6
        .row
          %label(for='tenant6-title')> Title
          %input.smalltext(type='text' name='tenant6-title' id='tenant6-title')
        .row.rel
          %label(for='tenant6-name')> Full name
          %input(type='text' name='tenant6-name' id='tenant6-name')
        .row.rel
          %label(for='tenant6-phone')> Phone
          %input(type='text' name='tenant6-phone' id='tenant6-phone')
        .row.rel
          %label(for='tenant6-mobile')> Mobile
          %input(type='text' name='tenant6-mobile' id='tenant6-mobile')
        .row.rel
          %label(for='tenant6-email')> Email
          %input(type='text' name='tenant6-email' id='tenant6-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant6-address')> Street
          %textarea(name='tenant6-address' id='tenant6-address')
        .row.rel.town
          %label(for='tenant6-town')> Town
          %input(type='text' name='tenant6-town' id='tenant6-town')
        .row.rel.postcode
          %label(for='tenant6-postcode')> Postcode
          %input.smalltext(type='text' name='tenant6-postcode' id='tenant6-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 7
    .moj-panel
      .tenant#tenant7
        .row
          %label(for='tenant7-title')> Title
          %input.smalltext(type='text' name='tenant7-title' id='tenant7-title')
        .row.rel
          %label(for='tenant7-name')> Full name
          %input(type='text' name='tenant7-name' id='tenant7-name')
        .row.rel
          %label(for='tenant7-phone')> Phone
          %input(type='text' name='tenant7-phone' id='tenant7-phone')
        .row.rel
          %label(for='tenant7-mobile')> Mobile
          %input(type='text' name='tenant7-mobile' id='tenant7-mobile')
        .row.rel
          %label(for='tenant7-email')> Email
          %input(type='text' name='tenant7-email' id='tenant7-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant7-address')> Street
          %textarea(name='tenant7-address' id='tenant7-address')
        .row.rel.town
          %label(for='tenant7-town')> Town
          %input(type='text' name='tenant7-town' id='tenant7-town')
        .row.rel.postcode
          %label(for='tenant7-postcode')> Postcode
          %input.smalltext(type='text' name='tenant7-postcode' id='tenant7-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 8
    .moj-panel
      .tenant#tenant8
        .row
          %label(for='tenant8-title')> Title
          %input.smalltext(type='text' name='tenant8-title' id='tenant8-title')
        .row.rel
          %label(for='tenant8-name')> Full name
          %input(type='text' name='tenant8-name' id='tenant8-name')
        .row.rel
          %label(for='tenant8-phone')> Phone
          %input(type='text' name='tenant8-phone' id='tenant8-phone')
        .row.rel
          %label(for='tenant8-mobile')> Mobile
          %input(type='text' name='tenant8-mobile' id='tenant8-mobile')
        .row.rel
          %label(for='tenant8-email')> Email
          %input(type='text' name='tenant8-email' id='tenant8-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant8-address')> Street
          %textarea(name='tenant8-address' id='tenant8-address')
        .row.rel.town
          %label(for='tenant8-town')> Town
          %input(type='text' name='tenant8-town' id='tenant8-town')
        .row.rel.postcode
          %label(for='tenant8-postcode')> Postcode
          %input.smalltext(type='text' name='tenant8-postcode' id='tenant8-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 9
    .moj-panel
      .tenant#tenant10
        .row
          %label(for='tenant10-title')> Title
          %input.smalltext(type='text' name='tenant10-title' id='tenant10-title')
        .row.rel
          %label(for='tenant10-name')> Full name
          %input(type='text' name='tenant10-name' id='tenant10-name')
        .row.rel
          %label(for='tenant10-phone')> Phone
          %input(type='text' name='tenant10-phone' id='tenant10-phone')
        .row.rel
          %label(for='tenant10-mobile')> Mobile
          %input(type='text' name='tenant10-mobile' id='tenant10-mobile')
        .row.rel
          %label(for='tenant10-email')> Email
          %input(type='text' name='tenant10-email' id='tenant10-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant10-address')> Street
          %textarea(name='tenant10-address' id='tenant10-address')
        .row.rel.town
          %label(for='tenant10-town')> Town
          %input(type='text' name='tenant10-town' id='tenant10-town')
        .row.rel.postcode
          %label(for='tenant10-postcode')> Postcode
          %input.smalltext(type='text' name='tenant10-postcode' id='tenant10-postcode')>

  %section.tenant-details
    %h3.section-header Tenant details - Tenant 10
    .moj-panel
      .tenant#tenant2
        .row
          %label(for='tenant2-title')> Title
          %input.smalltext(type='text' name='tenant2-title' id='tenant2-title')
        .row.rel
          %label(for='tenant2-name')> Full name
          %input(type='text' name='tenant2-name' id='tenant2-name')
        .row.rel
          %label(for='tenant2-phone')> Phone
          %input(type='text' name='tenant2-phone' id='tenant2-phone')
        .row.rel
          %label(for='tenant2-mobile')> Mobile
          %input(type='text' name='tenant2-mobile' id='tenant2-mobile')
        .row.rel
          %label(for='tenant2-email')> Email
          %input(type='text' name='tenant2-email' id='tenant2-email')
        .row.full
          If the tenant's current address is different from the property you want to repossess, please provide their address below.
        .row.rel.street
          %label(for='tenant2-address')> Street
          %textarea(name='tenant2-address' id='tenant2-address')
        .row.rel.town
          %label(for='tenant2-town')> Town
          %input(type='text' name='tenant2-town' id='tenant2-town')
        .row.rel.postcode
          %label(for='tenant2-postcode')> Postcode
          %input.smalltext(type='text' name='tenant2-postcode' id='tenant2-postcode')>

