.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Confirm details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 1 - Personal details
  %p Fill in the address of the property you want to repossess and contact details for the landlords and tenants.

= form_for :claim, :url => '/step1', :method => :post do |claim_form|
  %section.property-details
    %h3.section-header Property details
    .moj-panel.sub-panel
      = claim_form.fields_for :property do |f|
        .row.rel.street
          %label(for='agent-address')> Street
          = f.text_area :street, id: 'agent-address'
        .row.rel.town
          %label(for='agent-town')> Town
          = f.text_field :town, id: 'agent-town'
        .row.rel.postcode
          %label(for='agent-postcode')> Postcode
          = f.text_field :postcode, id: 'agent-postcode', class: 'smalltext'
        %fieldset.striped-choice
          %legend Type of property
          .options
            .row
              = f.check_box :residential, id: 'property-residential'
              %label(for='property-residential') Residential
            .row
              = f.check_box :commercial, id: 'property-commercial'
              %label(for='property-commercial') Commercial
        %fieldset.striped-choice
          %legend Who is in the property?
          .options
            .row
              = f.radio_button :resident_type, 'Tenants'
              %label(for='claim_property_resident_type_tenants') Tenants
            .row
              = f.radio_button :resident_type, 'Squatters'
              %label(for='claim_property_resident_type_squatters') Squatters
        .row
          %label(for='title-number') Title number
          = f.text_field :land_registry_title_number, id: 'title-number', class: 'smalltext'
        .row.rel.help-link
          %a(href='#') About title numbers

  %section.landlord-details
    %h3.section-header Landlord details
    .moj-panel
      = claim_form.fields_for(:landlords, include_id: false) do |f|
        .row
          %label(for='landlord-companyname')> Company name
          = f.text_field :company_name, id: 'landlord-companyname'
        .row.rel.street
          %label(for='landlord-address')> Street
          = f.text_area :street, id: 'landlord-address'
        .row.rel.town
          %label(for='landlord-town')> Town
          = f.text_field :town, id: 'landlord-town'
        .row.rel.postcode
          %label(for='landlord-postcode')> Postcode
          = f.text_field :postcode, id:'landlord-postcode', class: 'smalltext'
        .row
          %label(for='landlord-title')> Title
          = f.text_field :title, id: 'landlord-title', class: 'smalltext'
        .row.rel
          %label(for='landlord-name')> Full name
          = f.text_field :full_name, id: 'landlord-name'
        .row.rel
          %label(for='landlord-phone')> Phone
          = f.text_field :phone,  id: 'landlord-phone'
        .row.rel
          %label(for='landlord-mobile')> Mobile
          = f.text_field :mobile, id: 'landlord-mobile'
        .row.rel
          %label(for='landlord-email')> Email
          = f.text_field :email, id: 'landlord-email'
        .row
          %label(for='landlord-dxnumber')> DX number
          = f.text_field :dx_number, id: 'landlord-dxnumber'
        .row.rel
          %label(for='landlord-dxexchange')> DX exchange
          = f.text_field :dx_exchange, id: 'landlord-dxexchange'

  %section.tenant-details
    - i = 0
    = claim_form.fields_for(:tenants, include_id: false) do |f|
      %h3.section-header
        = "Tenant details - Tenant #{i = i + 1}"
      .moj-panel
        .tenant(id="tenant-#{i}")
          .row
            %label(for='tenant-title')> Title
            = f.text_field :title, id: 'tenant-title', class: 'smalltext', name: '[claim]tenants[][title]'
          .row.rel
            %label(for='tenant-name')> Full name
            = f.text_field :full_name, id: 'tenant-name', name: '[claim]tenants[][full_name]'
          .row.rel
            %label(for='tenant-phone')> Phone
            = f.text_field :phone, id: 'tenant-phone', name: '[claim]tenants[][phone]'
          .row.rel
            %label(for='tenant-mobile')> Mobile
            = f.text_field :mobile, id: 'tenant-mobile', name: '[claim]tenants[][mobile]'
          .row.rel
            %label(for='tenant-email')> Email
            = f.text_field :email, id: 'tenant-email', name: '[claim]tenants[][email]'
          .row.full
            If the tenant's current address is different from the property you want to repossess, please provide their address below.
          .row.rel.street
            %label(for='tenant-address')> Street
            = f.text_area :street, id: 'tenant-address', name: '[claim]tenants[][street]'
          .row.rel.town
            %label(for='tenant-town')> Town
            = f.text_field :town, id: 'tenant-town', name: '[claim]tenants[][town]'
          .row.rel.postcode
            %label(for='tenant-postcode')> Postcode
            = f.text_field :postcode, id: 'tenant-postcode', class: 'smalltext', name: '[claim]tenants[][postcode]'

  %section
    .action-buttons.cf
      %button.button.primary.large.chevron.left(href='/step1') Continue to next step
      %a.button.secondary.large.right(href='/step1') Save and come back later
